.tableHeader {
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 1px solid red;
  width: 95vw;
}

.tableBody {
  /*display: flex;*/
  /*flex-direction: row;*/
  /*align-items: center;*/
  border: 1px solid green;
  width: 95vw;
}